@media only screen and (max-width: 960px){
  .site{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
    "ansArea"
    "pad";
  }

  .ansArea{
    grid-area: ansArea;
    width: 100vw;
    height:25vh;
  }

  .pad{
    grid-area: pad;
    width: 100vw;
    height:75vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "numArea oper";
  }

  .numArea{
    grid-area: numArea;
    height: 100%;
    width: 75vw;
    background-color: #181a1a;
    display: flex;
    flex-wrap: wrap;
  }

  .oper{
    grid-area: oper;
    height: 100%;
    width: 25vw;
    background-color: #00ffb4;
    display: flex;
    flex-flow: column;
  }

  .mobiHid {
    display: none!important;
  }
}
